body{background-color: #f1f7ed;
    height: 100vh;
}
.card{
    margin: auto;
    position: relative;
    width: 450px;
    height: 260px;
    background-color: #0F7173;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
/* Gricelda */
h1{
    color: #f1f7ed;
    text-align: left;
    position: absolute;
    top: -55px;
    padding-left: 20px;
font-family: "futura-pt-bold", sans-serif;
font-weight: 700;
font-style: normal;
font-size: 60pt;
    
}
/* Mendez */
h2{
    color: #7dcfb6;
    text-align: left;
    position: absolute;
    top: 20px;
    padding-left: 20px;
font-family: "futura-pt-bold", sans-serif;
font-weight: 700;
font-style: normal;
font-size: 60pt;
}
/* Graphic Design*/
h3{
    color: #f1f7ed;
    text-align: left;
    position: absolute;
    top: 180px;
    padding-left: 20px;
font-family: "futura-pt", sans-serif;
font-weight: 500;
font-style: oblique;
font-size: 18pt;
}

/* email icon */
 svg#_1-Email {
    width: 35px; 
    height: 45px; 
    fill: #f1f7ed;
    position: absolute;
    top: 198px;
    left: 210px;
    cursor: pointer;
}
/* Hover effect for Email Icon */
svg#_1-Email:hover {
    fill: #7dcfb6; 
    transform: scale(1.1); 
    transition: transform 0.2s, fill 0.2s; 
}

/* Vertical Lines */
svg#Layer_1 {
    width: 100px;
    height: 250px; 
    position: absolute;
    top: 0px; 
    right: 10px; 
    fill: #f1f7ed; 
  }
  @media (max-width: 768px) { 
    body {
        background-color: #7dcfb6;
    }
    svg#Layer_1 { 
        fill: #7dcfb6; 
    }
    }
